<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/style/hack-subset.css">
    <link rel="stylesheet" href="/style/base.css">
    <title>
      {% block title %}
        {% if page.title %}
          {{ page.title }}
        {% elif section.title %}
          {{ section.title }}
        {% else %}
          {{ config.title }}
        {% endif %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block content %}
    <section>¯\_(ツ)_/¯</section>
    {% endblock content %}
    {% block footer %}
    <br />
    <section>
      <div>
        <a href="/">home</a>
        <a href="/blogroll">blogroll</a>
        <a href="/now">now</a>
        <a href="/cats">cats</a>
        <a href="/machines">machines</a>
        <a href="https://api.github.com/users/wasabipesto/keys">ssh</a>
        <a href="https://api.github.com/users/wasabipesto/gpg_keys">gpg</a>
        <a href="https://github.com/wasabipesto">github</a>
        <a href="https://wasabipesto.tumblr.com">tumblr</a>
        <a href="mailto://contact@wasabipesto.com">email</a>
        <a href="https://mastodon.boiler.social/@wasabipesto" rel="me">mastodon</a>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">copyright</a>
        <a href="https://status.wasabipesto.com">status</a>
      </div>
    </section>
    {% endblock footer %}
  </body>
</html>