{% extends "base.html" %}

{% block content %}
  <section>
    {% if page.content %}
      {{ page.content | safe }}
    {% elif section.content %}
      {{ section.content | safe }}
    {% else %}
      ¯\_(ツ)_/¯
    {% endif %}
  </section>
  <br />
  <section>
    <table>
      <td>
        <table class="border" width="140px">
          <tr><td colspan="3" class="center">
            <a href="https://fediring.net/">fediring</a>
          </td></tr>
          <tr><td class="nav-arrow rtl">
            <a href="https://fediring.net/previous?host=wasabipesto.com">➤</a>
          </td><td class="nav-arrow">
            <a href="https://fediring.net/previous?host=wasabipesto.com">➤</a>
          </td></tr>
        </table>
      </td><td>
        <table class="border" width="140px"><td class="center">
          {% set image = resize_image(path="images/classe-nBoPjadlesc.png", width=120, height=52, op="fit") %}
          <a href="https://applianceri.ng/next?host=wasabipesto.com">
            <img src="{{ image.static_path | replace(from="static", to="") }}" title="Rancilio Classe 9 Espresso Machine, photo by Jordan Whitt" />
          </a>
        </td></table>
      </td><td>
        <table class="border" width="140px">
          <tr><td colspan="3" class="center">
            <a href="https://fediring.net/">hotline webring</a>
          </td></tr>
          <tr><td class="nav-arrow rtl">
            <a href="https://hotlinewebring.club/wasabipesto/previous">➤</a>
          </td><td class="nav-arrow">
            <a href="https://hotlinewebring.club/wasabipesto/next">➤</a>
          </td></tr>
        </table>
      </td><td>
        <table class="border" width="140px">
          <tr><td colspan="3" class="center">
            <div class="gaydance">
              <a href="https://webring.bucketfish.me">
                <span style="--n:100ms;">b</span><span style="--n:200ms;">u</span><span style="--n:300ms;">c</span><span style="--n:400ms;">k</span><span style="--n:500ms;">e</span><span style="--n:600ms;">t</span>
                <span style="--n:800ms;">w</span><span style="--n:900ms;">e</span><span style="--n:1000ms;">b</span><span style="--n:1100ms;">r</span><span style="--n:1200ms;">i</span><span style="--n:1300ms;">n</span><span style="--n:1400ms;">g</span>
              </a>
            </span>
          </td></tr>
          <tr><td class="nav-arrow rtl">
            <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=wasabipesto">➤</a>
          </td><td class="nav-arrow">
            <a href="https://webring.bucketfish.me/redirect.html?to=next&name=wasabipesto">➤</a>
          </td></tr>
        </table>
      </td><td>
        <table class="border" width="140px">
          <tr><td class="center">
            <a href="https://hyperlink.cafe/">hyperlink café</a>
          </td></tr>
        </table>
      </td>
    </table>
  </section>
{% endblock webring %}