{% extends "base.html" %}

{% block content %}
  <section>
    {% if page.content %}
      {{ page.content | safe }}
    {% elif section.content %}
      {{ section.content | safe }}
    {% else %}
      ¯\_(ツ)_/¯
    {% endif %}
  </section>
  <br />
  <section>
    <div style="columns: 180px">
      {% set image = resize_image(path="images/classe-nBoPjadlesc.png", width=160, op="fit_width") %}
      <a href="https://applianceri.ng/next?host=wasabipesto.com">
        <img src="{{ image.static_path | replace(from="static", to="") }}" title="Rancilio Classe 9 Espresso Machine, photo by Jordan Whitt" />
      </a>
      <p>
        <a href="https://fediring.net/previous?host=wasabipesto.com">[[</a>
        <a href="https://fediring.net/">fediring</a>
        <a href="https://fediring.net/next?host=wasabipesto.com">]]</a>
      </p>
      <p>
        <a href="https://hotlinewebring.club/wasabipesto/previous">[[</a>
        <a href="https://fediring.net/">hotline webring</a>
        <a href="https://hotlinewebring.club/wasabipesto/next">]]</a>
      </p>
      <p>
        <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=wasabipesto">[[</a>
        <a href="https://webring.bucketfish.me">bucket webring</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=wasabipesto">]]</a>
      </p>
      <p>
        <a href="https://hyperlink.cafe/">hyperlink café</a>
      </p>
    </div>
  </section>
{% endblock content %}